#block-alertblock {
  position: relative;
  z-index: 30; }

#block-alert {
  background-color: #363738;
  padding-top: 1em;
  padding-bottom: 1em;
  display: none; }
  #block-alert.white {
    background-color: #ffffff; }
  #block-alert.pink {
    background-color: #f1aef7; }
  #block-alert.purple {
    background-color: #c585f7; }
  #block-alert.Gray {
    background-color: #dddcde; }
  #block-alert.red {
    background-color: #f24c43; }
  #block-alert.black {
    background-color: #363738; }
  #block-alert.yellow {
    background-color: #f5da05; }
  #block-alert.has-cookie {
    display: none; }
  #block-alert h2, #block-alert h3, #block-alert h4, #block-alert h5, #block-alert h6, #block-alert p, #block-alert a, #block-alert li {
    color: #ffffff; }
  #block-alert h2, #block-alert h3, #block-alert h4, #block-alert h5, #block-alert h6 {
    margin-bottom: 3px;
    padding-bottom: 0; }
  #block-alert a {
    text-decoration: underline; }
  #block-alert .fas {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    width: 30px;
    font-size: 20px;
    color: #f5da05; }
    #block-alert .fas.white {
      color: #ffffff; }
    #block-alert .fas.pink {
      color: #f1aef7; }
    #block-alert .fas.purple {
      color: #c585f7; }
    #block-alert .fas.Gray {
      color: #dddcde; }
    #block-alert .fas.red {
      color: #f24c43; }
    #block-alert .fas.black {
      color: #363738; }
    #block-alert .fas.yellow {
      color: #f5da05; }
  #block-alert .alert-text {
    display: inline-block; }
  #block-alert button {
    background: #ffffff;
    border-radius: 3px;
    color: #ffffff;
    padding: 13px 15px;
    font-size: 1em;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    transition: all 0.35s ease-in-out;
    cursor: pointer;
    border-radius: 0;
    border: 1px #ffffff solid;
    color: #ffffff;
    background-color: transparent;
    font-weight: normal;
    text-decoration: none !important; }
    #block-alert button:hover {
      background: #2998E3;
      transition: all 0.3s ease;
      text-decoration: none; }
    #block-alert button:active {
      background: #bfbfbf; }
    #block-alert button:hover {
      color: #ffffff; }

/*# sourceMappingURL=alert.css.map */
