$black: #363738;
$white: #ffffff;
$midblue: #2998E3;
$secondary: $midblue;
$transition: all 0.35s ease-in-out;

@mixin button($bg, $hoverbg) {
  background: $bg;
  border-radius: 3px;
  color: #ffffff;
  padding: 13px 15px;
  font-size: 1em;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  transition: $transition;
  cursor: pointer;
  border-radius: 0;

  &:hover {
    background: $hoverbg;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  &:active {
    background:darken($bg, 25%);
  }
}

#block-alertblock {
  position: relative;
  z-index: 30;
}

#block-alert {
  background-color: $black;
  padding-top: 1em;
  padding-bottom: 1em;
  display: none;
  &.white {
    background-color: $white;
  }

  &.pink {
    background-color: #f1aef7;
  }

  &.purple {
    background-color: #c585f7;
  }

  &.Gray {
    background-color: #dddcde;
  }

  &.red {
    background-color: #f24c43;
  }

  &.black {
    background-color: $black;
  }

  &.yellow {
    background-color: #f5da05;
  }

  &.has-cookie {
    display: none;
  }

  h2, h3, h4, h5, h6, p, a, li {
    color: $white;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 3px;
    padding-bottom: 0;
  }

  a {
    text-decoration: underline;
  }

  .fas {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    width: 30px;
    font-size: 20px;
    color: #f5da05;

    &.white {
      color: $white;
    }

    &.pink {
      color: #f1aef7;
    }

    &.purple {
      color: #c585f7;
    }

    &.Gray {
      color: #dddcde;
    }

    &.red {
      color: #f24c43;
    }

    &.black {
      color: $black;
    }

    &.yellow {
      color: #f5da05;
    }
  }

  .alert-text {
    display: inline-block;
  }

  button {
    @include button ($white, $secondary);
    border: 1px $white solid;
    color: $white;
    background-color: transparent;
    font-weight: normal;
    text-decoration: none !important;

    &:hover {
      color: $white;
    }
  }

}
