<section id="block-alert" role="region" aria-labelledby="region-header" class="no-cookie {{ box_color }}" {% if box_color == 'custom' and box_custom_color %} style="background-color: {{box_custom_color}}" {% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2 id="region-header" class="sr-only">Alert Banner</h2>
        {% if icon %}
          <span class="fas {{ icon }} {{ icon_color }}" aria-hidden="true" title="Alert" {% if icon_color == 'custom' and icon_custom_color %} style="color: {{icon_custom_color}}" {% endif %}></span>
        {% endif %}
        <span class="sr-only">Alert:</span>
        <div class="alert-text">
          {% if message %}
            {% set messageObject = {
              '#type': 'processed_text',
              '#text': message.value,
              '#format': message.format,
            } %}
            {{ messageObject }}
          {% endif %}
        </div>
      </div>
      <div class="col-md-3">
        <div class="float-right">
          <button class="dismiss btn-inverse" aria-label="Dismiss Alert" type="button">Dismiss</button>
        </div>
      </div>
    </div>
  </div>
</section>
